<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="form-container">
            <div class="form-title">LOGIN</div>
            <form class="login-form">
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="text">
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password">
                </div>
                <button class="form-btn" type="submit">LOGIN</button>
                <div class="form-switch">
                    <a href="/register">Don't have an account? Register</a>
                </div>
            </form>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>