<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="form-container">
            <div class="form-title">LOGIN</div>
            <form class="login-form">
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="text">
                </div>
                <div class="form-control pwd">
                    <label for="password">Password</label>
                    <input class="pwd-textbox" type="password">
                    <div>
                        <i class="fas fa-eye"></i>
                        <div class="eye-icon-slash"></div>
                    </div>
                </div>
                <button class="form-btn" type="submit">LOGIN</button>
                <div class="form-switch">
                    <a href="/register">Don't have an account? Register</a>
                </div>
            </form>
        </div>
    </main>
    <script src="/js/forms.js"></script>

    <%- include('../includes/footer.ejs') %>