<header>
    <nav class="navbar">
        <span class="logo">Jerry Books</span>
        <div class="hamburger-icon">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="/login">LOGIN</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">REGISTER</a></li>
            <li class="nav-item"><a class="nav-link" href="#">LOGOUT</a></li>
            <li class="nav-item"><a class="nav-link" href="#">MY ACCOUNT</a></li>
        </ul>
    </nav>
</header>