@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.form-container {
    display: grid;
    margin: 1.25rem auto;
    color: #EEEEEE;
    font-family: 'Oswald', sans-serif;
    justify-items: center;
    align-items: center;
}

.form-title {
    text-align: center;
    font-size: 2.1875rem;
    letter-spacing: 3.5px;
}

.form-switch {
    margin-top: 20px;
    transition: 0.3s ease 0s;
}

.form-switch a {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 18px;
    letter-spacing: 3px;
    transition: 0.3s ease 0s;
}

.form-switch a:hover {
    color: #9E9E9E
}

.form-control label {
    font-size: 1.5625rem;
    margin-top: 1.875rem;
    display: block;
    letter-spacing: 1.5px;
}

.form-control input {
    height: 34px;
    width: 400px;
    border-radius: 0.25rem;
    border: 1px solid #616161;
    margin-top: 10px;
    padding: .375rem .75rem;
    background: #616161;
    color: #EEEEEE;
    transition: all 0.3s ease 0.1s;
    font-size: 1rem;
}

.form-control input:focus {
    box-shadow: 0px 0px 3px 2px #E0E0E0;
    outline: none;
}

.form-btn {
    font-size: 1.0625rem;
    margin-top: 2.5rem;
    height: 40px;
    width: 100%;
    border: 1px solid #f93403;
    border-radius: 3px;
    background: #f93403;
    color: #EEEEEE;
    transition: 0.4s ease 0s;
    cursor: pointer;
}

.form-btn:hover {
    border: 1px solid #dd1b06;
    background: #dd1b06;
}

.form-btn:focus {
    outline: none
}

#names {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#register-fn-input,
#register-ln-input {
    width: 170px;
}

#form-register-last-name {
    margin-left: 30px
}

@media only screen and (max-width: 480px) {
    .login-form {
        width: 80%;
    }

    .register-form {
        width: 80%;
    }

    .form-control input {
        width: 100%;
    }

    /* First Name, Last Name */
    #names {
        display: block;
    }

    #register-fn-input,
    #register-ln-input {
        width: 100%;
    }

    #form-register-last-name {
        margin-left: 0;
    }

}